name: M3U8 Generator

on:
  push:
    paths:
      - 'channels.json'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install yt-dlp
      run: pip install yt-dlp

    - name: Run script
      run: python main.py

    - name: Commit result
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@users.noreply.github.com"
        git add output.json
        git commit -m "Update m3u8 links"
        git push
