name: Update Token

on:
  schedule:
    - cron: '*/30 * * * *'  # hər 30 dəqiqədə işləyəcək
  workflow_dispatch:        # əl ilə də işə salmaq olar

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Update playlist
        run: python update_m3u8.py

      - name: Commit and push changes
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add playlist.m3u8
          # Fayl dəyişibsə commit et, yoxsa skip et
          if ! git diff --cached --quiet; then
            git commit -m "Update token"
            git push
          else
            echo "No changes to commit"
          fi
